body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

img {
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  

button {
    border: 0cap;
    border-radius: 8px;
}

small {
    text-align: center;
}